.main {
  display: flex;
  gap: 50px;
  padding: 15px 10px;
  height: 100%;
  background: var(--bg-primary);
  color: var(--text-primary);
}
.body {
  width: 100%;
}
.language-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  background: var(--bg-tertiary);
  padding: 20px;
  gap: 20px;
  border: 1px solid var(--border-primary);
  box-shadow: var(--shadow-md);
}
.code-options {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
img.language-icon {
  width: 55px;
}
.language-body {
  display: flex;
  gap: 10px;
}
